<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>

<body>
    <%- include('admininclude/_header')%>
        <!-- <hr> -->
        
        <div>
            <div class="text-box">
                <h1 class="heading-primary">
                    <center><span class="heading-primary-main">Feedback</span></center>

                    <% for(var i=0; i < feedback.length; i++) { %>
                        <li class="feedbacklist">
                            <hr class="feedbackline">
                            <span class="feedbackname">
                                <%= feedback[i].name %>
                            </span> :
                            <br>
                            <span class="feedbackdes">
                                <%= feedback[i].desc %>
                            </span><br> 
                        </li>
                        <% } %>
            </div>
        </div>
        <div>
            <div id="section1"></div>
        </div>


        <hr>
        <div>
            <%- include('admininclude/_footer')%>
        </div>
        <script>
            function myFunction() {
                location.replace("packages.html")
            }
        </script>

</body>

</html>