<html>

    <head>
      <link rel="stylesheet" href="./css/main.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    
    <body>
      <div id="page-container">
        <footer class="Footer1">
          <div class="footer_container">
            <div>
                <a href="#"><img src="./images/logo.jpeg" class="logo"> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
    
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
          <address>
            <br>
            Address:
            308, University Plaza, Above Chocolate Room,
            Vijay Cross Roads, Navrangpura,<br>
            Ahmedabad, Gujarat 380009
            <h3>
            Office Timings: 11AM to 8PM  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <i class="fa fa-phone" aria-hidden="true"></i> +91-9999999999 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-envelope" aria-hidden="true"></i>   info@tours.org
          </h3>
          </address>
        </div>
        </footer>
     
    </body>
    
    </html>